@using RealEstate.MiniForum.FrontEnd.ViewModels

@{
    Layout.Title = T("Danh sách yêu cầu kết bạn").ToString();
}
@using (Script.Foot())
{
    Script.Require("realEstate.MiniForum.FrontEnd");
}
<article class="content-item">
    <header>
        <div class="header-wrapper">
            <div class="header-title">
                <div class="header-title-left">
                    <div class="header-title-triangle"></div>
                </div>
                <h1 class="header-title-text">Danh sách yêu cầu kết bạn</h1>
                <div class="header-title-right"></div>
                <input type="hidden" id="userId" value="@WorkContext.CurrentUser.Id" />
                <input type="hidden" id="userCurentId" value="@WorkContext.CurrentUser.Id" />
                <input type="hidden" id="userNameCurent" value="@WorkContext.CurrentUser.UserName" />
            </div>
        </div>
    </header>
    <article class="list-friend">
            <div class="row">
                <div class="col-md-12 ajax-content" data-url="@Url.Action("AjaxGetListRequestFriend", "PersonalPage", new { area = "RealEstate.MiniForum.FrontEnd", Id = WorkContext.CurrentUser.Id })">
                    @Html.Partial("Loading")
                </div>
            </div>
    </article>
</article>