@using RealEstate.MiniForum.FrontEnd.ViewModels

@{
    Layout.Title = T("Danh sách bạn của ").ToString() + ViewBag.UserName;
}
@using (Script.Foot())
{
    Script.Require("realEstate.MiniForum.FrontEnd");
}


<article class="content-item">
    <header>
        <div class="header-wrapper">
            <div class="header-title">
                <div class="header-title-left">
                    <div class="header-title-triangle"></div>
                </div>
                <h1 class="header-title-text">Danh sách bạn @ViewBag.UserName</h1>
                <div class="header-title-right"></div>
                <input type="hidden" id="userId" value="@ViewBag.UserId" />
                <input type="hidden" id="userCurentId" value="@(WorkContext.CurrentUser != null ? WorkContext.CurrentUser.Id : 0)" />
                <input type="hidden" id="userNameCurent" value="@(WorkContext.CurrentUser != null ? WorkContext.CurrentUser.UserName : "notdisplay")" />
            </div>
        </div>
    </header>
    <article class="list-friend">
            <div class="row">
                <div class="col-md-12 ajax-content" data-url="@Url.Action("AjaxGetListFriend", "PersonalPage", new { area = "RealEstate.MiniForum.FrontEnd", Id = ViewBag.UserId })">
                    @Html.Partial("Loading")
                </div>
            </div>
    </article>
</article>