@model RealEstate.NewLetter.ViewModels.MessageInboxIndexViewModel

@{
    Layout.Title = T("Thư đã gửi").ToString();
}


@using (Html.BeginFormAntiForgeryPost(null, FormMethod.Get))
{
    @Html.ValidationSummary()

    <fieldset class="bulk-actions left">

        <label for="filterResults">@T("Từ khóa:")</label>
        @Html.TextBoxFor(m => m.Options.Search, new { @class = "text" })
        <button type="submit" name="submit.Filter" value="@T("Filter")">@T("Filter")</button>

    </fieldset>
}

@using (Html.BeginFormAntiForgeryPost())
{
    <fieldset>
        <table class="items">
            <thead>
                <tr>
                    <th scope="col">@T("Người Nhận")</th>
                    <th scope="col">@T("Tiêu đề")</th>
                    <th scope="col">@T("Nội dung")</th>
                    <th scope="col">@T("Ngày gửi")</th>
                    <th scope="col">@T("Trả lời")</th>
                    <th scope="col">@T("Thao tác")</th>
                </tr>
            </thead>
            @{var index = 0; string status; string title;}
            @foreach (var entry in Model.ListMessage)
            {
                var item = entry.MessagePart;
                <tr>
                    <td>
                        @item.UserReceived.UserName
                    </td>
                    <td>
                        @Html.ActionLink(!string.IsNullOrEmpty(item.Title) ? item.Title : "Xem tin nhắn", "ViewMessage", new { item.Id })
                    </td>
                    <td>
                        @(item.Content.Length > 100 ? item.Content.Substring(0,100) : item.Content))
                    </td>                    
                    <td>
                        @Convert.ToDateTime(item.DateSend).ToString("dd/MM/yyyy hh:mm")
                    </td>
                    <td>
                        @entry.ReplyCount
                    </td>
                    <td>
                        @Html.ActionLink(T("Xóa").ToString(), "DeleteMessageInbox", new { item.Id, returnUrl = HttpContext.Current.Request.Url }, new { itemprop = "RemoveUrl UnsafeUrl" })
                    </td>
                </tr>
                index++;
            }
        </table>
        @Display(Model.Pager)

    </fieldset>
}
<style>
    .f-bold td {
        font-weight: bold;
    }
</style>