@model RealEstate.FrontEnd.ViewModels.CommentsIndexViewModel
@using RealEstate.FrontEnd.ViewModels;
@using Orchard.Comments.Models;
@using Orchard.Mvc.Html;
@using Orchard.Utility.Extensions;
@using RealEstate.Helpers;

@{ 
    Style.Require("Admin");
    Script.Require("ShapesBase");
    Layout.Title = T("Edit Comment").ToString();
    var contextExists = TempData["CreateCommentContext.Name"] != null;
    var name = Convert.ToString(TempData["CreateCommentContext.Name"]);
    var commentText = Convert.ToString(TempData["CreateCommentContext.CommentText"]);
    var email = Convert.ToString(TempData["CreateCommentContext.Email"]);
    var siteName = Convert.ToString(TempData["CreateCommentContext.SiteName"]);
}

@using (Html.BeginForm("Create", "Comments", new { area = "RealEstate.FrontEnd" }, FormMethod.Post, new { @class = "comment-form" }))
{ 
    @Html.ValidationSummary() 
    if (WorkContext.CurrentUser == null) {

    <fieldset class="who">
        <legend id="add-comment">@T("Add a Comment")</legend> 
    <ol>
        <li>
            <label for="Name">@T("Name")</label>
            <input id="Name" class="text" name="Name" type="text" value="@(contextExists ? name : String.Empty)" />
        </li>
        <li>
            <label for="Email">@T("Email")</label>
            <input id="Email" class="text" name="Email" type="text" value="@(contextExists ? email : String.Empty)"/>
        </li>
        <li>`
            <label for="SiteName">@T("Url")</label>
            <input id="SiteName" class="text" name="SiteName" type="text" value="@(contextExists ? siteName : String.Empty)"/>
        </li>
     </ol>
    </fieldset>
    } else {
        @Html.Hidden("Name", WorkContext.CurrentUser.UserName ?? "")
        @Html.Hidden("Email", WorkContext.CurrentUser.Email ?? "")
    }

    <h2 id="commenter">@if (WorkContext.CurrentUser != null) { @T("Hi, {0}!", Convert.ToString(Html.ItemDisplayText(WorkContext.CurrentUser)))}</h2>
    <fieldset class="what">
    <ol>
        <li>
            <label for="comment-text">@T("Comment")</label>
            <textarea id="comment-text" rows="10" cols="30" name="CommentText" maxlength="500" class="html height30">@(contextExists ? commentText : String.Empty)</textarea>
            @*@Html.TextArea("CommentText", (string)Model.CommentText, 10, 10, new Dictionary<string, object> {
	        {"class", "html tinymce"}})*@
        </li>
        <li>
            <button class="primaryAction btncomment" type="submit">@T("Submit Comment")</button>
            <input type="hidden" value="0" id="edit_comment_id"/>
            @Html.Hidden("CommentedOn", Model.Property_Id) 
            @Html.Hidden("ReturnUrl", Request.QueryString.Get("returnUrl"))
            @Html.Hidden("Url", Request.QueryString.Get("returnUrl"))
            @Html.AntiForgeryTokenOrchard() 
        </li>
    </ol>
    </fieldset>
    <div id="ViewListComments" class="ajax-paging">
        @*@Html.Partial("AdminListOfComments", Model)*@
    </div>
} 
@using (Script.Foot())
{
    <script type="text/javascript">
        $(document).ready(function() {
            var url = '@Url.Action("AjaxLoadListComments", "Comments", new {area = "RealEstate.FrontEnd", id = Model.Property_Id})';
            $('#ViewListComments').load(url);
            $(".btncomment").click(function() {
                if ($('#edit_comment_id').val() == '0') {
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("AddComment", "PropertySearch", new {area = "RealEstate.FrontEnd"})',
                        data: {
                            name: $('#Name').val(),
                            commentText: $('#comment-text').val(),
                            email: $('#Email').val(),
                            commentedOn: $('#CommentedOn').val(),
                            __RequestVerificationToken: antiForgeryToken
                        },
                        success: function(results) {
                            if (results.success) {
                                $('#ViewListComments').load(url);
                                $('#comment-text').val("");
                            }
                        },
                        error: function(request, status, error) {
                            alert('Có lỗi xảy ra');
                        }
                    });
                    JsPostFaceBook($("#CommentedOn").val(), $("#comment-text").val());
                } else {
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("AjaxEditComment", "Comments", new {area = "RealEstate.FrontEnd"})',
                        data: {
                            id: $('#edit_comment_id').val(),
                            name: $('#Name').val(),
                            email: $('#Email').val(),
                            commentText: $('#comment-text').val(),
                            __RequestVerificationToken: antiForgeryToken
                        },
                        success: function(results) {
                            if (results.success) {
                                $('#edit_comment_id').val(0);
                                $('#ViewListComments').load(url);
                                $('#comment-text').val('');
                            }
                        },
                        error: function(request, status, error) {
                            alert('Có lỗi xảy ra');
                        }
                    });
                }
                return false;
            });

            $('.ajax-paging').on('click', '.pager a', function() {
                var container = $(this).closest('.ajax-paging');
                var article = $(this).closest('article.content-item');
                if (article.length > 0) $('html, body').animate({ scrollTop: article.offset().top }, 500);
                container.load($(this).attr('href'), function() {});
                return false;
            })
        });

        function JsPostFaceBook(Id, comment) {
            $.ajax({
                type: 'post',
                url: '@Url.Action("AjaxCommentToFaceBook", "PropertySearch", new {area = "RealEstate.FrontEnd"})',
                data: {
                    pId: Id,
                    comment: comment,
                    __RequestVerificationToken: antiForgeryToken
                },
                success: function(results) {
                    console.log('s');
                },
                error: function(request, status, error) {
                    console.log(error);
                }
            });
        }
    </script>
}