@model RealEstate.ViewModels.CoefficientApartmentFloorThIndexViewModel
@using RealEstate.Models;
@using RealEstate.ViewModels;

@{
    Script.Require("Common");
    Layout.Title = T("Coefficient ApartmentFloorTh").ToString();
}

@using (Html.BeginFormAntiForgeryPost())
{ 
    @Html.ValidationSummary()

    <div class="manage">@Html.ActionLink(T("Add new CoefficientApartmentFloorTh").ToString(), "Create", new { }, new { @class = "button primaryAction" })</div>

    <fieldset class="bulk-actions">
        <label for="publishActions">@T("Actions:")</label>
        <select id="publishActions" name="@Html.NameOf(m => m.Options.BulkAction)">
            @Html.SelectOption(Model.Options.BulkAction, CoefficientApartmentFloorThBulkAction.None, T("Choose action...").ToString())
            @Html.SelectOption(Model.Options.BulkAction, CoefficientApartmentFloorThBulkAction.Enable, T("Enable").ToString())
            @Html.SelectOption(Model.Options.BulkAction, CoefficientApartmentFloorThBulkAction.Disable, T("Disable").ToString())
            @Html.SelectOption(Model.Options.BulkAction, CoefficientApartmentFloorThBulkAction.Delete, T("Delete").ToString())
        </select>
        <button type="submit" name="submit.BulkEdit" value="@T("Apply")">@T("Apply")</button>
    </fieldset>
    
    <fieldset>
        <table class="items">
            <thead>
                <tr>
                    <th scope="col"><input class="selectAll" type="checkbox" value="@Html.NameOf(m => m.CoefficientApartmentFloorThs)" /></th>
                    <th scope="col">@T("MaxFloors")</th>
                    <th scope="col">@T("ApartmentFloorTh")</th>
                    <th scope="col">@T("CoefficientApartmentFloorTh")</th>
                    <th scope="col">@T("Actions")</th>
                </tr>
            </thead>
            @{var index = 0;}
            @foreach (var entry in Model.CoefficientApartmentFloorThs)
            { 
            <tr>
                <td>
                    <input type="hidden" value="@Model.CoefficientApartmentFloorThs[index].CoefficientApartmentFloorThPart.Id" name="@Html.NameOf(m => m.CoefficientApartmentFloorThs[index].CoefficientApartmentFloorThPart.Id)"/>
                    <input type="checkbox" value="true" name="@Html.NameOf(m => m.CoefficientApartmentFloorThs[index].IsChecked)"/>
                </td>
                <td>
                    @Html.DisplayFor(model => entry.CoefficientApartmentFloorThPart.MaxFloors, "Double")
                </td>
                <td>
                    @Html.DisplayFor(model => entry.CoefficientApartmentFloorThPart.ApartmentFloorTh, "Double")
                </td>
                <td>
                    @Html.DisplayFor(model => entry.CoefficientApartmentFloorThPart.CoefficientApartmentFloorTh, "Double")
                </td>
                <td>
                    @Html.ActionLink(T("Edit").ToString(), "Edit", new { entry.CoefficientApartmentFloorThPart.Id }) |
                    @Html.ActionLink(T("Delete").ToString(), "Delete", new { entry.CoefficientApartmentFloorThPart.Id }, new { itemprop = "RemoveUrl UnsafeUrl" })
                </td>
            </tr>
                index++;
            }
        </table>

    @Display(Model.Pager)

    </fieldset>
} 