@model RealEstate.ViewModels.CustomerIndexOptions
@using RealEstate.Models;
@using RealEstate.ViewModels;
@using RealEstate.Services;

@{
    Script.Require("jQueryUI_DatePicker");

    Script.Require("Cookie");
    Script.Require("BootstrapCombobox");
    Script.Require("BootstrapMultiselect");
}
    
@using (Html.BeginFormAntiForgeryPost(null, FormMethod.Get))
{      
    @Html.ValidationSummary()
    
    <div id="tabsAdsType">        
        <ul class="nav nav-tabs">
            @foreach (var typeGroup in Model.TypeGroups)
            {
                foreach (var ads in Model.AdsTypes)
                {
                <li class="@(typeGroup.Id == Model.TypeGroupId && ads.Id == Model.AdsTypeId ? "active" : "")">
                    <a href="#" ads="@ads.Id" typegroup="@typeGroup.Id" class="@(ads.CssClass + "-" + typeGroup.CssClass)">
                        @ads.ShortName
                        @typeGroup.ShortName
                        <span class="count"></span>
                    </a>
                </li>
                }
            }
        </ul>
    </div>
    
    <fieldset>

        <table class="filter-table">
            <tbody>
                <tr>
                    <td class="filter-label">Loại tin</td>
                    <td class="filter-label">Nhóm BĐS</td>
                    <td class="filter-label">Trạng thái</td>
                    <td class="filter-label">Mục đích</td>
                </tr>
                <tr>
                    <td>
                        @Html.DropDownListFor(m => m.AdsTypeId,
                        Model.AdsTypes.Select(s => new SelectListItem
                        {
                            Selected = s.Id == Model.AdsTypeId,
                            Text = s.ShortName,
                            Value = s.Id.ToString()
                        }), new { Class = "select-box" })
                    </td>
                    <td>       
                        @Html.DropDownListFor(m => m.TypeGroupId,
                        Model.TypeGroups.Select(s => new SelectListItem
                        {
                            Selected = s.Id == Model.TypeGroupId,
                            Text = s.Name,
                            Value = s.Id.ToString()
                        }),
                        T("-- Tất cả --").ToString(), new { Class = "select-box" })                 
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.StatusId,
                        Model.Status.Select(s => new SelectListItem
                        {
                            Selected = s.Id == Model.StatusId,
                            Text = s.Name,
                            Value = s.Id.ToString()
                        }),
                        T("-- Default --").ToString(), new { Class = "select-box" })
                    </td>
                    <td>
                        @Html.ListBoxFor(m => m.PurposeIds,
                        new MultiSelectList(Model.Purposes.Select(a => new { a.Name, a.Id }).ToList(), "Id", "Name", Model.PurposeIds)
                        , new { Class = "select-box multiselect", placeholder = "-- Vui lòng chọn --" })
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Tìm kiếm cơ bản -->
        <table class="filter-table margin-top-5">
            <tbody>
                <tr>
                    @*<td class="filter-label">Tỉnh / Thành phố</td>
                    <td class="filter-label">Quận / Huyện</td>
                    <td class="filter-label">Phường / Xã</td>
                    <td class="filter-label">Tên đường</td>*@
                    <!-- gp-apartment -->
                    @*@if (Model.TypeGroupCssClass == "gp-apartment")
                    {
                    <td class="filter-label">Dự án / Chung cư:</td>
                    }*@
                </tr>
                <tr>
                    <td>
                        @Html.DropDownListFor(m => m.ProvinceId, Model.Provinces,"-- Chọn tất cả Tỉnh/TP --", new { Class = "combobox" })
                    </td>
                    <td>
                        @Html.ListBoxFor(m => m.DistrictIds,
                        new MultiSelectList(Model.Districts.Select(a => new { a.Name, a.Id }).ToList(), "Id", "Name", Model.DistrictIds)
                        , new { Class = "select-box multiselect", placeholder = "Tất cả Quận / Huyện" })
                    </td>
                    <td>
                        @Html.ListBoxFor(m => m.WardIds,
                        new MultiSelectList(Model.Wards.Select(a => new { Name = a.Name + " - " + a.District.ShortName, a.Id }).ToList(), "Id", "Name", Model.WardIds)
                        , new { Class = "select-box multiselect", placeholder = "Tất cả Phường / Xã" })
                    </td>
                    <td>
                        @Html.ListBoxFor(m => m.StreetIds,
                        new MultiSelectList(Model.Streets.Select(a => new { Name = a.Name + " - " + a.District.ShortName, a.Id }).ToList(), "Id", "Name", Model.StreetIds)
                        , new { Class = "select-box multiselect", placeholder = "Tất cả các Đường / Phố" })
                    </td>
                    <!-- gp-apartment -->
                    @if (Model.TypeGroupCssClass == "gp-apartment")
                    {
                        <td>
                            @Html.ListBoxFor(m => m.ApartmentIds,
                            new MultiSelectList(Model.Apartments.Select(a => new { Name = a.Name + " - " + a.District.ShortName, a.Id }).ToList(), "Id", "Name", Model.ApartmentIds)
                            , new { Class = "select-box multiselect", placeholder = "Tất cả các Dự án / Chung cư" })
                        </td>
                    }
                </tr>
                <tr>
                    <td colspan="2">
                        @T("Giá rao:")
                        @Html.TextBoxFor(m => m.MinPriceProposed, new { @class = "text number-box", placeholder = T("Giá từ") })
                        @Html.TextBoxFor(m => m.MaxPriceProposed, new { @class = "text number-box", placeholder = T("đến") })

                        @Html.DropDownListFor(m => m.PaymentMethodId,
                        Model.PaymentMethods.Select(a => new SelectListItem
                        {
                            Selected = a.Id == Model.PaymentMethodId,
                            Text = a.ShortName,
                            Value = a.Id.ToString()
                        }), new { Class = "", style = "width:70px" })
                        @*
                        @Html.DropDownListFor(m => m.PaymentUnitId,
                        Model.PaymentUnits.Select(a => new SelectListItem
                        {
                            Selected = a.Id == Model.PaymentUnitId,
                            Text = a.ShortName,
                            Value = a.Id.ToString()
                        }), new { Class = "", style = "width:111px" })
                        *@
                    </td>
                    <td class="filter-label">@Html.TextBoxFor(m => m.Id, new { @class = "text text-box", placeholder = "ID Khách hàng" })</td>
                    <td>
                        @Html.TextBoxFor(m => m.ContactPhone, new { @class = "text text-box", placeholder = "Tên KH hoặc ĐT" })
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="property-form-group-search">
            <a href="#" class="advance-search-trigger"><span class="ui-icon icon-expand"></span> Tìm kiếm nâng cao</a>
            @if (AuthorizedFor(RealEstate.Permissions.ManageProperties))
            {
                <div class="advance-search-right">
                    <table class="filter-table">
                        <tbody>
                            <tr>
                                <td class="filter-label">Nhóm: </td>
                                <td>@Html.TextBoxFor(m => m.GroupId, new { @class = "text text-box select2-group", placeholder = "Nhóm" })</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
            <div class="clearfix"></div>
        </div>
        

        <!-- Tìm kiếm nâng cao -->
        <table id="tblAdvanceSearch" class="filter-table">
            <tbody>
                <!-- gp-house || gp-land -->
                @if (Model.TypeGroupCssClass == "gp-house" || Model.TypeGroupCssClass == "gp-land")
                {
                <tr>
                    <td class="filter-label">DTKV từ</td>
                    <td>@Html.TextBoxFor(m => m.MinAreaTotal, new { @class = "text number-box" }) đến @Html.TextBoxFor(m => m.MaxAreaTotal, new { @class = "text number-box" }) m</td>
                    <td class="filter-label">Chiều ngang</td>
                    <td>@Html.TextBoxFor(m => m.MinAreaTotalWidth, new { @class = "text number-box" }) đến @Html.TextBoxFor(m => m.MaxAreaTotalWidth, new { @class = "text number-box" }) m</td>
                    <td class="filter-label">Chiều sâu</td>
                    <td>@Html.TextBoxFor(m => m.MinAreaTotalLength, new { @class = "text number-box" }) đến @Html.TextBoxFor(m => m.MaxAreaTotalLength, new { @class = "text number-box" }) m</td>
                    <td class="filter-label">Số lầu</td>
                    <td>@Html.TextBoxFor(m => m.MinFloors, new { @class = "text number-box" }) đến @Html.TextBoxFor(m => m.MaxFloors, new { @class = "text number-box" })</td>
                </tr>
                <tr>
                    <td class="filter-label">Nhà MT / Hẻm</td>
                    <td>
                        @Html.DropDownListFor(m => m.LocationId,
                        Model.Locations.Select(s => new SelectListItem
                        {
                            Selected = s.Id == Model.LocationId,
                            Text = s.Name,
                            Value = s.Id.ToString()
                        }),
                        T("-- Tất cả --").ToString(), new { Class = "select-box" })
                    </td>
                    <td class="filter-label">Hẻm rộng</td>
                    <td>@Html.TextBoxFor(m => m.MinAlleyWidth, new { @class = "text number-box" }) đến @Html.TextBoxFor(m => m.MaxAlleyWidth, new { @class = "text number-box" }) m</td>
                    <td class="filter-label">Số lần rẽ</td>
                    <td>@Html.TextBoxFor(m => m.MinAlleyTurns, new { @class = "text number-box" }) đến @Html.TextBoxFor(m => m.MaxAlleyTurns, new { @class = "text number-box" })</td>
                    <td class="filter-label">KcMT</td>
                    <td>@Html.TextBoxFor(m => m.MinDistanceToStreet, new { @class = "text number-box" }) đến @Html.TextBoxFor(m => m.MaxDistanceToStreet, new { @class = "text number-box" }) m</td>
                </tr>
                }
                <tr>
                    <td class="filter-label">Hướng</td>
                    <td>
                        @Html.ListBoxFor(m => m.DirectionIds,
                        new MultiSelectList(Model.Directions.Select(a => new { a.Name, a.Id }).ToList(), "Id", "Name", Model.DirectionIds)
                        , new { Class = "select-box multiselect", placeholder = "Tất cả các Hướng" })
                    </td>
                    <td class="filter-label">Số PN</td>
                    <td>@Html.TextBoxFor(m => m.MinBedrooms, new { @class = "text number-box" }) đến @Html.TextBoxFor(m => m.MaxBedrooms, new { @class = "text number-box" })</td>
                    <td class="filter-label">Số WC</td>
                    <td>@Html.TextBoxFor(m => m.MinBathrooms, new { @class = "text number-box" }) đến @Html.TextBoxFor(m => m.MaxBathrooms, new { @class = "text number-box" })</td>
                    <!-- gp-apartment -->
                    @if (Model.TypeGroupCssClass == "gp-apartment")
                    {
                    <td class="filter-label">DT căn hộ</td>
                    <td>@Html.TextBoxFor(m => m.MinAreaTotal, new { @class = "text number-box" }) đến @Html.TextBoxFor(m => m.MaxAreaTotal, new { @class = "text number-box" }) m<sup>2</sup></td>
                    }
                </tr>
                <tr>
                    <td class="filter-label">Ngày dẫn khách</td>
                    <td colspan="3">
                        @Html.TextBoxFor(m => m.VisitedFrom, new { @class = "text date-box" }) đến @Html.TextBoxFor(m => m.VisitedTo, new { @class = "text date-box" })
                        @Html.ListBoxFor(m => m.ServedUserIds,
                        new MultiSelectList(Model.ServedUsers.Select(a => new { a.UserName, a.Id }).ToList(), "Id", "UserName", Model.ServedUserIds)
                        , new { Class = "select-box multiselect", placeholder = "-- NV dẫn --" })
                    </td>
                    <td class="filter-label">Ngày tạo</td>
                    <td colspan="3">
                        @Html.TextBoxFor(m => m.CreatedFrom, new { @class = "text date-box" }) đến @Html.TextBoxFor(m => m.CreatedTo, new { @class = "text date-box" })
                        @Html.TextBoxFor(m => m.CreatedUserId, new { @class = "text text-box select2-user select2-group-user", group = Model.GroupId, placeholder = "-- Tạo bởi --" })
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    
    
    <fieldset class="bulk-actions left">
        <label for="Order">@T("Sắp xếp theo:")</label>
        <select id="Order" name="@Html.NameOf(m => m.Order)">
            @Html.SelectOption(Model.Order, CustomerOrder.LastUpdatedDate, T("Ngày sửa lần cuối").ToString())
            @Html.SelectOption(Model.Order, CustomerOrder.CreatedDate, T("Ngày tạo").ToString())
            @Html.SelectOption(Model.Order, CustomerOrder.ContactName, T("Tên khách hàng").ToString())
        </select>

        <button type="submit" name="submit.Filter" value="@T("Filter")">@T("Tìm kiếm")</button>
        
    </fieldset>
    
}    