@using Mello.ImageGallery.Helpers
@using System.Web.Mvc.Html
@{ 
    Style.Require("ImageGallery");
 }

@model Mello.ImageGallery.ViewModels.ImageGalleryViewModel

<div class="flash-swf hidden-xs hidden-sm hidden-md">
        @{int results;}
        @foreach (var image in Model.Images)
{
    string link = "";
    if (!string.IsNullOrEmpty(image.href))
    {
        //onclick = "Redirect('" + image.href + "')";
        link = "linktag=" + image.href;
    }

    if (image.Enable)
    {
        results = (Convert.ToDateTime(image.DateEnd) - DateTime.Now).Days;
        if (results >= 0)
        {
            <object width="@image.Thumbnail.Width" height="@image.Thumbnail.Height" data="@image.PublicUrl" type="application/x-shockwave-flash">
                    <param name="menu" value="true">
                    <param name="scale" value="noscale">
                    <param name="flashvars" value="@link">
                    <param name="wmode" value="opaque">
                </object>
        }
    }
    else
    {
                <object width="@image.Thumbnail.Width" height="@image.Thumbnail.Height" data="@image.PublicUrl" type="application/x-shockwave-flash">
                    <param name="menu" value="true">
                    <param name="scale" value="noscale">
                    <param name="flashvars" value="@link">
                    <param name="wmode" value="opaque">
                </object>
                    @*<embed width="@image.Thumbnail.Width" height="@image.Thumbnail.Height" allowscriptaccess="always" wmode="transparent" loop="true" play="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="@link" src="@image.PublicUrl" allowfullscreen="true" allownetworking="all" />*@
            }
        }
</div>