@using Mello.ImageGallery.Helpers
@using System.Web.Mvc.Html
@{ 
    Style.Require("ImageGallery");
    Script.Require("jquery.cycle.all");
 }

@model Mello.ImageGallery.ViewModels.ImageGalleryViewModel

@using (Script.Foot())
{

<script type="text/javascript"> 
    $(document).ready(function () {
        @Html.ImageGalleryScript(".sliderCycle", Model.ImageGalleryPlugin);
    });
</script>
}


<div class="sliderCycle hidden-xs">
    @{int results;}
    @foreach (var image in Model.Images)
    {
        if (image.Enable)
        {
            results = (Convert.ToDateTime(image.DateEnd) - DateTime.Now).Days;
            if (results >= 0)
            {
                if (image.Blank)
                {
                    <a href="@image.href" target="_blank">
                        @Html.ImageWithThumbnailSize(image)
                    </a>
                }
                else
                {
                    <a href="@image.href">
                        @Html.ImageWithThumbnailSize(image)
                    </a>
                }
            }
        }
        else
        {
            if (image.Blank)
            {
                    <a href="@image.href" target="_blank">
                        @Html.ImageWithThumbnailSize(image)
                    </a>
            }
            else
            {
                    <a href="@image.href">
                        @Html.ImageWithThumbnailSize(image)
                    </a>
            }
        }
    }
</div>
