@model RealEstate.ViewModels.StreetRelationsIndexViewModel
@using RealEstate.Models;
@using RealEstate.ViewModels;

@{
    Script.Require("BootstrapCombobox");
    Script.Require("Common");
    Layout.Title = T("Street Relations").ToString();
}

@using (Html.BeginFormAntiForgeryPost(null, FormMethod.Get))
{ 
    @Html.ValidationSummary()

    <fieldset class="bulk-actions">
        <table class="filter-table">
            <tr>
                <td></td>
                <td>@Html.LabelFor(m => m.Options.ProvinceId, @T("Tỉnh / Thành phố:"))</td>
                <td>
                    @Html.DropDownListFor(m => m.Options.ProvinceId,
                    Model.Options.Provinces.Select(s => new SelectListItem
                    {
                        Selected = s.Id == Model.Options.ProvinceId,
                        Text = s.Name,
                        Value = s.Id.ToString()
                    }), "-- Tỉnh / Thành phố --", new { Class = "combobox" + (Model.Options.IsRestrictedLocations ? " restricted" : ""), userid = WorkContext.CurrentUser.Id })
                </td>
                <td>@Html.LabelFor(m => m.Options.DistrictId, @T("Quận / Huyện:"))</td>
                <td>
                    @Html.DropDownListFor(m => m.Options.DistrictId,
                    Model.Options.Districts.Select(s => new SelectListItem
                    {
                        Selected = s.Id == Model.Options.DistrictId,
                        Text = s.Name,
                        Value = s.Id.ToString()
                    }), "-- Quận / Huyện --", new { Class = "combobox" })
                </td>
                <td>@Html.LabelFor(m => m.Options.WardId, @T("Phường / Xã:"))</td>
                <td>
                    @Html.DropDownListFor(m => m.Options.WardId,
                    Model.Options.Wards.Select(s => new SelectListItem
                    {
                        Selected = s.Id == Model.Options.WardId,
                        Text = s.Name,
                        Value = s.Id.ToString()
                    }), "-- Phường / Xã --", new { Class = "combobox" })
                </td>
                <td>@Html.LabelFor(m => m.Options.StreetId, @T("Đường / Phố:"))</td>
                <td class="ui-autocomplete-container-street">
                    @Html.DropDownListFor(m => m.Options.StreetId,
                    Model.Options.Streets.Select(s => new SelectListItem
                    {
                        Selected = s.Id == Model.Options.StreetId,
                        Text = s.Name + String.Format("{0: (0}", s.FromNumber) + String.Format("{0: - 0)}", s.ToNumber),
                        Value = s.Id.ToString()
                    }), "-- Đường / Phố --", new { Class = "combobox all-street" })
                </td>
            </tr>
            <tr>
                <td>@T("Related")&nbsp;</td>
                <td>@Html.LabelFor(m => m.Options.RelatedProvinceId, @T("Tỉnh / Thành phố:"))</td>
                <td>
                    @Html.DropDownListFor(m => m.Options.RelatedProvinceId,
                    Model.Options.RelatedProvinces.Select(s => new SelectListItem
                    {
                        Selected = s.Id == Model.Options.RelatedProvinceId,
                        Text = s.Name,
                        Value = s.Id.ToString()
                    }), "-- Tỉnh / Thành phố --", new { Class = "combobox" + (Model.Options.IsRestrictedLocations ? " restricted" : ""), userid = WorkContext.CurrentUser.Id })
                </td>
                <td>@Html.LabelFor(m => m.Options.RelatedDistrictId, @T("Quận / Huyện:"))</td>
                <td>
                    @Html.DropDownListFor(m => m.Options.RelatedDistrictId,
                    Model.Options.RelatedDistricts.Select(s => new SelectListItem
                    {
                        Selected = s.Id == Model.Options.RelatedDistrictId,
                        Text = s.Name,
                        Value = s.Id.ToString()
                    }), "-- Quận / Huyện --", new { Class = "combobox" })
                </td>
                <td>@Html.LabelFor(m => m.Options.RelatedWardId, @T("Phường / Xã:"))</td>
                <td>
                    @Html.DropDownListFor(m => m.Options.RelatedWardId,
                    Model.Options.RelatedWards.Select(s => new SelectListItem
                    {
                        Selected = s.Id == Model.Options.RelatedWardId,
                        Text = s.Name,
                        Value = s.Id.ToString()
                    }), "-- Phường / Xã --", new { Class = "combobox" })
                </td>
                <td>@Html.LabelFor(m => m.Options.RelatedStreetId, @T("Đường / Phố:"))</td>
                <td class="ui-autocomplete-container-street">
                    @Html.DropDownListFor(m => m.Options.RelatedStreetId,
                    Model.Options.RelatedStreets.Select(s => new SelectListItem
                    {
                        Selected = s.Id == Model.Options.RelatedStreetId,
                        Text = s.Name + String.Format("{0: (0}", s.FromNumber) + String.Format("{0: - 0)}", s.ToNumber),
                        Value = s.Id.ToString()
                    }), "-- Đường / Phố --", new { Class = "combobox all-street" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.LabelFor(m => m.Options.Order, @T("Sort by:"))</td>
                <td>
                    <select id="filterSortby" name="@Html.NameOf(m => m.Options.Order)" class="select-box">
                        @Html.SelectOption(Model.Options.Order, StreetRelationsOrder.Province, T("Province").ToString())
                        @Html.SelectOption(Model.Options.Order, StreetRelationsOrder.District, T("District").ToString())
                        @Html.SelectOption(Model.Options.Order, StreetRelationsOrder.Ward, T("Ward").ToString())
                        @Html.SelectOption(Model.Options.Order, StreetRelationsOrder.Street, T("Street").ToString())
                        @Html.SelectOption(Model.Options.Order, StreetRelationsOrder.RelatedProvince, T("RelatedProvince").ToString())
                        @Html.SelectOption(Model.Options.Order, StreetRelationsOrder.RelatedDistrict, T("RelatedDistrict").ToString())
                        @Html.SelectOption(Model.Options.Order, StreetRelationsOrder.RelatedWard, T("RelatedWard").ToString())
                        @Html.SelectOption(Model.Options.Order, StreetRelationsOrder.RelatedStreet, T("RelatedStreet").ToString())
                    </select>
                </td>
                <td>
                    <button type="submit" name="submit.Filter" value="@T("Filter")">@T("Filter")</button>
                </td>
            </tr>
        </table>
    </fieldset>
}
    
@using (Html.BeginFormAntiForgeryPost())
{        
    <fieldset class="bulk-actions right">
        @if (AuthorizedFor(RealEstate.Permissions.ManageAddressLocations))
        {
        <label for="publishActions">@T("Actions:")</label>
        <select id="publishActions" name="@Html.NameOf(m => m.Options.BulkAction)">
            @Html.SelectOption(Model.Options.BulkAction, StreetRelationsBulkAction.None, T("Choose action...").ToString())
            @Html.SelectOption(Model.Options.BulkAction, StreetRelationsBulkAction.Delete, T("Delete").ToString())
        </select>
        <button type="submit" name="submit.BulkEdit" value="@T("Apply")">@T("Apply")</button>
        }
        @Html.ActionLink(T("Add new Street Relation").ToString(), "Create", new { }, new { @class = "button primaryAction" })
    </fieldset>
    
    <fieldset>
    @ViewBag.RCount
        <table class="items fixed-table">
            <thead>
                <tr>
                    <th scope="col"><input class="selectAll" type="checkbox" value="@Html.NameOf(m => m.StreetRelations)" /></th>
                    <th scope="col" colspan="5" class="align-center">@T("Alley Coefficient")</th>
                    <th scope="col">@T("Street")</th>
                    <th scope="col">@T("Ward")</th>
                    <th scope="col">@T("District")</th>
                    @*<th scope="col">@T("Province")</th>*@
                    <th scope="col">@T("MT")</th>
                    <th scope="col">@T("Hẻm")</th>
                    <th scope="col">@T("Street")</th>
                    <th scope="col">@T("Ward")</th>
                    <th scope="col">@T("District")</th>
                    @*<th scope="col">@T("Province")</th>*@
                    <th scope="col">@T("Actions")</th>
                </tr>
            </thead>
            @{var index = 0;}
            @foreach (var entry in Model.StreetRelations)
            {
                var s = entry.StreetRelation;
            <tr>
                <td>
                    <input type="hidden" value="@Model.StreetRelations[index].StreetRelation.Id" name="@Html.NameOf(m => m.StreetRelations[index].StreetRelation.Id)"/>
                    <input type="checkbox" value="true" name="@Html.NameOf(m => m.StreetRelations[index].IsChecked)"/>
                </td>
                <td>@s.CoefficientAlley1Max</td>
                <td>@s.CoefficientAlley1Min</td>
                <td>@s.CoefficientAlleyEqual</td>
                <td>@s.CoefficientAlleyMax</td>
                <td>@s.CoefficientAlleyMin</td>
                <td>
                    @(entry.StreetRelation.Street.Name + String.Format("{0: (0}", entry.StreetRelation.Street.FromNumber) + String.Format("{0: - 0)}", entry.StreetRelation.Street.ToNumber))
                </td>
                <td>
                    @entry.StreetRelation.Ward.ShortName
                </td>
                <td>
                    @entry.StreetRelation.District.ShortName
                </td>
                @*<td>
                    @entry.StreetRelation.Province.ShortName
                </td>*@
                <td class="col-r">
                    @Html.DisplayFor(model => entry.StreetRelation.RelatedValue, "Double")%
                </td>
                <td class="col-r">
                    @Html.DisplayFor(model => entry.StreetRelation.RelatedAlleyValue, "Double")%
                </td>
                <td>
                    @(entry.StreetRelation.RelatedStreet.Name + String.Format("{0: (0}", entry.StreetRelation.RelatedStreet.FromNumber) + String.Format("{0: - 0)}", entry.StreetRelation.RelatedStreet.ToNumber))
                </td>
                <td>
                    @entry.StreetRelation.RelatedWard.ShortName
                </td>
                <td>
                    @entry.StreetRelation.RelatedDistrict.ShortName
                </td>
                @*<td>
                    @entry.StreetRelation.RelatedProvince.ShortName
                </td>*@
                <td>
                    @Html.ActionLink(T("Edit").ToString(), "Edit", new { entry.StreetRelation.Id, returnUrl = HttpContext.Current.Request.Url }) |
                    @Html.ActionLink(T("Delete").ToString(), "Delete", new { entry.StreetRelation.Id, returnUrl = HttpContext.Current.Request.Url }, new { itemprop = "RemoveUrl UnsafeUrl" })
                </td>
            </tr>
                index++;
            }
        </table>

    @Display(Model.Pager)

    </fieldset>
} 