@model RealEstate.NewLetter.ViewModels.ContactInboxIndexViewModel

@{
    // Script.Require("Common");
    Layout.Title = T("Hộp thư liên hệ").ToString();
}


@using (Html.BeginFormAntiForgeryPost(null, FormMethod.Get))
{
    @Html.ValidationSummary()

    <fieldset class="bulk-actions left">

        <label for="filterResults">@T("Từ khóa:")</label>
        @Html.TextBoxFor(m => m.Options.Search, new { @class = "text" })

        <button type="submit" name="submit.Filter" value="@T("Filter")">@T("Filter")</button>

    </fieldset>
}

@using (Html.BeginFormAntiForgeryPost())
{
    <fieldset>
        <table class="items">
            <thead>
                <tr>
                    <th scope="col">@T("Tên")</th>
                    <th scope="col">@T("Email")</th>
                    <th scope="col">@T("Điện thoại")</th>
                    <th scope="col">@T("Tiêu đề")</th>
                    <th scope="col">@T("Ngày gửi")</th>
                    <th scope="col">@T("Thao tác")</th>
                </tr>
            </thead>
            @{var index = 0; string status; string title;}
            @foreach (var entry in Model.ContactInboxs)
            {
                var item = entry.ContactInbox;
                if (item.IsRead == false) { status = "f-bold"; title = "Tin nhắn này chưa được xử lý!"; } else { status = ""; title = ""; }
                <tr class="@status" title="@title">
                    <td>
                        @item.FullName
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Phone
                    </td>
                    <td>
                        @Html.ActionLink((item.Title).ToString(), "ViewInbox", new { item.Id, returnUrl = HttpContext.Current.Request.Url })
                    </td>
                    <td>
                        @Convert.ToDateTime(item.DateCreated).ToString("dd/MM/yyyy hh:mm")
                    </td>
                    <td>
                        @Html.ActionLink(T("Delete").ToString(), "Delete", new { item.Id, returnUrl = HttpContext.Current.Request.Url }, new { itemprop = "RemoveUrl UnsafeUrl" })
                    </td>
                </tr>
                index++;
            }
        </table>

        @Display(Model.Pager)

    </fieldset>
}
<style>
    .f-bold td {
        font-weight: bold;
    }
</style>