@model RealEstate.ViewModels.UserActionIndexViewModel
@using RealEstate.Models;
@using RealEstate.ViewModels;

@{
    Script.Require("Common");
    Layout.Title = T("User Actions").ToString();
}

@using (Html.BeginFormAntiForgeryPost())
{ 
    @Html.ValidationSummary()
    <div class="manage">@Html.ActionLink(T("Add new User Action").ToString(), "Create", new { }, new { @class = "button primaryAction" })</div>

    <fieldset class="bulk-actions">
        <label for="publishActions">@T("Actions:")</label>
        <select id="publishActions" name="@Html.NameOf(m => m.Options.BulkAction)">
            @Html.SelectOption(Model.Options.BulkAction, UserActionBulkAction.None, T("Choose action...").ToString())
            @Html.SelectOption(Model.Options.BulkAction, UserActionBulkAction.Enable, T("Enable").ToString())
            @Html.SelectOption(Model.Options.BulkAction, UserActionBulkAction.Disable, T("Disable").ToString())
            @Html.SelectOption(Model.Options.BulkAction, UserActionBulkAction.Delete, T("Delete").ToString())
        </select>
        <button type="submit" name="submit.BulkEdit" value="@T("Apply")">@T("Apply")</button>
    </fieldset>
    <fieldset class="bulk-actions">
        @Html.TextBoxFor(m => m.Options.Search, new { @class = "text" })        
        <label for="filterResults">@T("Filter:")</label>
        <select id="filterResults" name="@Html.NameOf(m => m.Options.Filter)">
            @Html.SelectOption(Model.Options.Filter, UserActionFilter.All, T("All").ToString())
        </select>
        <label for="filterResults">@T("Sort by:")</label>
        <select id="filterResults1" name="@Html.NameOf(m => m.Options.Order)">
            @Html.SelectOption(Model.Options.Order, UserActionOrder.Name, T("Name").ToString())
            @Html.SelectOption(Model.Options.Order, UserActionOrder.SeqOrder, T("SeqOrder").ToString())
        </select>

        <button type="submit" name="submit.Filter" value="@T("Filter")">@T("Filter")</button>
    </fieldset>
    <fieldset>
        <table class="items">
            <thead>
                <tr>
                    <th scope="col"><input class="selectAll" type="checkbox" value="@Html.NameOf(m => m.UserActions)" /></th>
                    <th scope="col">@T("Name")</th>
                    <th scope="col">@T("ShortName")</th>
                    <th scope="col">@T("Point")</th>
                    <th scope="col">@T("CssClass")</th>
                    <th scope="col">@T("SeqOrder")</th>
                    <th scope="col">@T("IsEnabled")</th>
                    <th scope="col">@T("Actions")</th>
                </tr>
            </thead>
            @{var index = 0;}
            @foreach (var entry in Model.UserActions)
            { 
            <tr>
                <td>
                    <input type="hidden" value="@Model.UserActions[index].UserAction.Id" name="@Html.NameOf(m => m.UserActions[index].UserAction.Id)"/>
                    <input type="checkbox" value="true" name="@Html.NameOf(m => m.UserActions[index].IsChecked)"/>
                </td>
                <td>
                    @Html.ActionLink(entry.UserAction.Name, "Edit", new { entry.UserAction.Id }) 
                </td>
                <td>
                    @entry.UserAction.ShortName 
                </td>
                <td>
                    @entry.UserAction.Point
                </td>
                <td>
                    @entry.UserAction.CssClass 
                </td>
                <td>
                    @entry.UserAction.SeqOrder 
                </td>
                <td>
                    @entry.UserAction.IsEnabled 
                </td>
                <td>
                    @Html.ActionLink(T("Edit").ToString(), "Edit", new { entry.UserAction.Id }) |
                    @Html.ActionLink(T("Delete").ToString(), "Delete", new { entry.UserAction.Id }, new { itemprop = "RemoveUrl UnsafeUrl" })
                </td>
            </tr>
                index++;
            }
        </table>

    @Display(Model.Pager)

    </fieldset>
} 