@model RealEstate.ViewModels.PropertyAdvantagesIndexViewModel
@using RealEstate.Models;
@using RealEstate.ViewModels;

@{
    Script.Require("Common");
    Layout.Title = T("Property DisAdvantages").ToString();
}

@using (Html.BeginFormAntiForgeryPost())
{ 
    @Html.ValidationSummary()
    <div class="manage">@Html.ActionLink(T("Add new DisAdvantages").ToString(), "Create", new { ShortName = "disadv" }, new { @class = "button primaryAction" })</div>

    <fieldset class="bulk-actions">
        <label for="publishActions">@T("Actions:")</label>
        <select id="publishActions" name="@Html.NameOf(m => m.Options.BulkAction)">
            @Html.SelectOption(Model.Options.BulkAction, PropertyAdvantagesBulkAction.None, T("Choose action...").ToString())
            @Html.SelectOption(Model.Options.BulkAction, PropertyAdvantagesBulkAction.Enable, T("Enable").ToString())
            @Html.SelectOption(Model.Options.BulkAction, PropertyAdvantagesBulkAction.Disable, T("Disable").ToString())
            @Html.SelectOption(Model.Options.BulkAction, PropertyAdvantagesBulkAction.Delete, T("Delete").ToString())
        </select>
        <button type="submit" name="submit.BulkEdit" value="@T("Apply")">@T("Apply")</button>
    </fieldset>
    <fieldset class="bulk-actions">
        @Html.TextBoxFor(m => m.Options.Search, new { @class = "text" })        
        <label for="filterResults">@T("Filter:")</label>
        <select id="filterResults" name="@Html.NameOf(m => m.Options.Filter)">
            @Html.SelectOption(Model.Options.Filter, PropertyAdvantagesFilter.All, T("All").ToString())
        </select>
        <label for="filterResults">@T("Sort by:")</label>
        <select id="filterResults1" name="@Html.NameOf(m => m.Options.Order)">
            @Html.SelectOption(Model.Options.Order, PropertyAdvantagesOrder.Name, T("Name").ToString())
            @Html.SelectOption(Model.Options.Order, PropertyAdvantagesOrder.SeqOrder, T("SeqOrder").ToString())
        </select>

        <button type="submit" name="submit.Filter" value="@T("Filter")">@T("Filter")</button>
    </fieldset>
    <fieldset>
        <table class="items">
            <thead>
                <tr>
                    <th scope="col"><input class="selectAll" type="checkbox" value="@Html.NameOf(m => m.PropertyAdvantages)" /></th>
                    <th scope="col">@T("Name")</th>
                    <th scope="col" class="align-right">@T("AddedValue")</th>
                    <th scope="col">@T("CssClass")</th>
                    <th scope="col">@T("SeqOrder")</th>
                    <th scope="col">@T("IsEnabled")</th>
                    <th scope="col">@T("Actions")</th>
                </tr>
            </thead>
            @{var index = 0;}
            @foreach (var entry in Model.PropertyAdvantages)
            { 
            <tr>
                <td>
                    <input type="hidden" value="@Model.PropertyAdvantages[index].Advantage.Id" name="@Html.NameOf(m => m.PropertyAdvantages[index].Advantage.Id)"/>
                    <input type="checkbox" value="true" name="@Html.NameOf(m => m.PropertyAdvantages[index].IsChecked)"/>
                </td>
                <td>
                    @Html.ActionLink(entry.Advantage.Name, "Edit", new { entry.Advantage.Id }) 
                </td>
                <td class="align-right">
                    @entry.Advantage.AddedValue %
                </td>
                <td>
                    @entry.Advantage.CssClass 
                </td>
                <td>
                    @entry.Advantage.SeqOrder 
                </td>
                <td>
                    @entry.Advantage.IsEnabled 
                </td>
                <td>
                    @Html.ActionLink(T("Edit").ToString(), "Edit", new { entry.Advantage.Id }) |
                    @Html.ActionLink(T("Delete").ToString(), "Delete", new { entry.Advantage.Id }, new { itemprop = "RemoveUrl UnsafeUrl" })
                </td>
            </tr>
                index++;
            }
        </table>

    @Display(Model.Pager)

    </fieldset>
} 