@model PropertyDisplayEntry
@using RealEstate.ViewModels;
@{
    var item = Model.Property;

    bool IsExpires = false;
    string[] listStatus = new string[] { "st-onhold", "st-sold", "st-no-contact", "st-deleted", "st-pending", "st-trashed", "st-draft" };
    if (item.Status.CssClass == "st-approved")
    {
        if (item.AdsExpirationDate < DateTime.Now) { IsExpires = true; }
    }
    if (listStatus.Contains(item.Status.CssClass)) { IsExpires = true; }
}
<div class="text-muted">
    Loại tin: @item.AdsType.Name | Loại BĐS: @item.Type.Name
</div>
<h1 class="property-title media-heading @(item.IsAuthenticatedInfo == true ? "bg-authenticated" : "")">
    <span class="@((item.AdsVIP && item.AdsVIPExpirationDate >= DateTime.Now) ? "vip-" + item.SeqOrder : "")">@Html.Raw(item.DisplayForTitle)</span> <br />
    <span class="text-error">@item.DisplayForPriceProposed</span>
</h1>
@if (!String.IsNullOrEmpty(item.Title))
{
    <p class="text-infoblue">
        <strong>Địa chỉ: @item.DisplayForLocationFullAddress</strong>
    </p>
}
<div class="content-item-property-description-detail">
    <p>
        <strong>@Html.Raw(item.DisplayForAreaConstructionLocationInfo)</strong>
    </p>
    <p>
        <strong>@Html.Raw(item.Content)</strong>
    </p>
    <p>
        <strong class="text-success">
            @(item.IsOwner == true ? "(Tin chính chủ)" : "")
            @(item.NoBroker == true ? "(Miễn trung gian)" : "")
            @(item.IsAuction == true ? "Đây là BĐS bán phát mãi (Đấu giá), giá rao trên đây là giá khởi điểm" : "")
        </strong>
    </p>
    @if (IsExpires)
    {
        <p>
            <strong class="text-error">Tin này đã hết hạn, hãy xem các BĐS tương tự bên dưới!</strong>
        </p>
    }
    else
    {
        <p class="text-infoblue">
            <strong class="text-blue">Liên hệ: @Model.DisplayForContact @(item.PublishContact ? item.ContactEmail : "")</strong>
        </p>
    }
    
</div>
