@model PropertyDisplayEntry
@using RealEstate.Helpers;
@using RealEstate.ViewModels;
@{
    Style.Include("flexslider.css");
    Script.Require("jquery.flexslider");
    
    Script.Require("ZoomAssets");
    Style.Require("PrettyPhoto");
    Script.Require("PrettyPhoto");
    Script.Require("jqPrint");
    var item = Model.Property;
    var ImageList = Model.Files.Where(a => a.Published == true).OrderByDescending(a => a.IsAvatar).ToList();
}
@using (Script.Foot())
{
    <script type="text/javascript">
        var smPos = 153;
        var spPos = 153;
        var sW;
        var sH;
        jQuery(function(f) {
            f("a[rel^='prettyPhoto']").prettyPhoto({
                changepicturecallback: function() { f("#fullResImage").z("destroy").z() },
                callback: function() { f("#fullResImage").z("destroy") },
                social_tools: false
            });
        });

        $(window).load(function() {
            // The slider being synced must be initialized first
            $('#carousel').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                prevText: '',
                nextText: '',
                itemWidth: 54,
                itemMargin: 5,
                asNavFor: '#slider'
            });

            $('#slider').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: true,
                slideshow: false,
                prevText: '',
                nextText: '',
                sync: "#carousel"
            });
        });
    </script>
}
<div class="content-item-property-img">
    
@if (ImageList.Count > 1)
{
    <div id="slider" class="flexslider">
      <ul class="slides">
        @foreach (var pic in ImageList)
        {
        <li>
          <a href="@pic.Path" target="_blank" rel="prettyPhoto[@item.Id]"><img alt="@item.DisplayForTitle.StripHtml()" src="@pic.Path" /></a>
        </li>
        }
      </ul>
    </div>
    <div id="carousel" class="flexslider">
      <ul class="slides">
        @foreach (var pic in ImageList)
        {
        <li class="img-thumbnail img-thumbnail-small">
            <div class="image-container">
                <img alt="@item.DisplayForTitle.StripHtml()" src="@pic.Path?width=50" class="" />
            </div>
        </li>
        }
      </ul>
    </div>
    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide hide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner zoom_gallery">
            <!-- Carousel items -->
            @foreach (var pic in ImageList)
            {
                if (!string.IsNullOrEmpty(pic.Path))
                {
                <div class="item@(ImageList.IndexOf(pic) == 0 ? " active" : "")">
                    <a href="@pic.Path" target="_blank" rel="1prettyPhoto[@item.Id]"><img alt="@item.DisplayForTitle.StripHtml()" src="@pic.Path?width=280" width="280" class="img-thumbnail"/></a>
                </div>
                }
            }
        </div>
        <!-- Controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <div class="divCountPicture">Có tổng cộng <strong class="text-danger">@ImageList.Count</strong> hình</div>
}
else
{
    <div class="zoom_gallery">
        <a href="@Model.DefaultImgUrl" target="_blank" rel="prettyPhoto[@item.Id]"><img alt="@item.DisplayForTitle.StripHtml()" src="@Model.DefaultImgUrl?width=280" width="280" class="img-thumbnail"/></a>
    </div>
}
</div>